:root {
	--hue: 220;
	--sat: 40%; 
	--blue-100: hsl(220, 52%, 80%);
	--blue-200: hsl(221, 48%, 74%);
	--blue-300: hsl(220, 45%, 66%);
	--blue-400: hsl(220, 43%, 58%);
	--blue-500: hsl(220, 42%, 50%);
	--blue-600: hsl(219, 43%, 39%);
	--blue-700: hsl(220, 45%, 28%);
	--blue-800: hsl(219, 48%, 17%);
	--blue-900: hsl(217, 52%, 6%);
	--grey-100: hsl(206, 22%, 92%);
	--grey-200: hsl(212, 18%, 83%);
	--grey-300: hsl(208, 15%, 74%);
	--grey-400: hsl(211, 13%, 61%);
	--grey-500: hsl(210, 12%, 52%);
	--grey-600: hsl(211, 13%, 40%);
	--grey-700: hsl(208, 15%, 32%);
	--grey-800: hsl(212, 18%, 20%);
	--grey-900: hsl(206, 22%, 8%);
	--red-100: hsl(0, 76%, 90%);
	--red-200: hsl(0, 75%, 80%);
	--red-300: hsl(0, 75%, 70%);
	--red-400: hsl(0, 75%, 60%);
	--red-500: hsl(0, 75%, 50%);
	--red-600: hsl(0, 75%, 40%);
	--red-700: hsl(0, 75%, 30%);
	--red-800: hsl(0, 75%, 20%);
	--red-900: hsl(0, 76%, 10%);
	--yellow-100: hsl(43, 88%, 90%);
	--yellow-200: hsl(42, 90%, 80%);
	--yellow-300: hsl(42, 90%, 70%);
	--yellow-400: hsl(42, 90%, 60%);
	--yellow-500: hsl(40, 90%, 50%);
	--yellow-600: hsl(38, 90%, 40%);
	--yellow-700: hsl(36, 90%, 30%);
	--yellow-800: hsl(34, 90%, 20%);
	--yellow-900: hsl(32, 88%, 10%);
	--green-100: hsl(120, 70%, 90%);
	--green-200: hsl(120, 70%, 80%);
	--green-300: hsl(120, 70%, 70%);
	--green-400: hsl(120, 70%, 60%);
	--green-500: hsl(120, 70%, 50%);
	--green-600: hsl(120, 70%, 40%);
	--green-700: hsl(120, 70%, 30%);
	--green-800: hsl(120, 70%, 20%);
	--green-900: hsl(120, 70%, 10%);
	--transition: .25s;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: lighter;
}
html {
	scroll-behavior: smooth;
}
html, body, main {
	min-height: 100%;
	width: 100%;
}
body {
	/* background-image: linear-gradient(160deg, var(--blue-900) 95vh, var(--grey-900) 95vh); */
	/* RIP gradients ;-; */
	/* We will never forget your sacrifice */
	background-color: var(--grey-900);
	position: relative;
	background-repeat: no-repeat;
}
main {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min(20rem, 50vw) 1fr;
}